<div class="toolbar">
  <ul>
    <li><a href="{{ path('page_new') }}">
      <span class="icon-32-add"></span>
      New
    </a></li>

    <li><a href="#" onclick="submitForm('edit')">
      <span class="icon-32-pencil"></span>
      Edit
    </a></li>

    <li><a href="#" onclick="submitForm('publish')">
      <span class="icon-32-accept"></span>
      Publish
    </a></li>

    <li><a href="#" onclick="submitForm('unpublish')">
      <span class="icon-32-accept_grey"></span>
      Unpublish
    </a></li>

    <li><a href="#" onclick="submitForm('delete')">
      <span class="icon-32-delete"></span>
      Delete
    </a></li>
  </ul>
</div>