{% extends 'MsiContentBundle::skeleton.html.twig' %}
{% block content %}
  <a class="right btn" href="{{ path('page') }}">Back</a>
  <div class="box">
  <h3>New page</h3>
  <form class="form" action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    {% include 'MsiContentBundle:Page:admin/form.html.twig' %}
    </fieldset>
  </form>
  </div>
{% endblock %}