<fieldset>
  {{ form_errors(form) }}

  {% form_theme form 'MsiContentBundle:Form:field.html.twig' %}

  {{ form_rest(form) }}

  <div class="actions">
    <button class="btn primary" type="submit">Save</button>
    <a class="btn" href="{{ path('page') }}">Cancel</a>
  </div>
</fieldset>