/*********************
    HTML Elements
*********************/

body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    background:url(../images/bg.png) repeat-x top #4a525a;
    color: #323232;
}

a {
    color:#4a525a;
    text-decoration:none;
}

a:hover {
    color:#323232;
}

h1, h2, h3, h4, h5, h6 {
    color: #323232;
    font-family: Georgia, Arial, sans-serif;
    font-weight:bold;
}

h1 {
    font-size:32px;
    line-height:32px;
    font-style:italic;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size:32px;
    line-height:32px;
    font-style:italic;
    color:#f5f5f5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size:16px;
    line-height:16px;
}

#header {
    padding:18px;
}

.top-panel {
    background-color: #d9dbdc;
    background-image: -moz-linear-gradient(center top , #f5f5f5, #d9dbdc);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.1) inset;
    margin-bottom:15px;
    text-align:right;
}

.top-panel li {
    display:inline;
}

.top-panel li a {
    display:block;
    padding:8px;
}

#toolbar {
    margin-bottom:15px;
}

#toolbar img {
    padding:5px 3px 3px;
}

#toolbar img:hover {
    border-top:1px solid #fbfcfc;
    border-left:1px solid #fbfcfc;
    border-right:1px solid #cecfd0;
    border-bottom:1px solid #cecfd0;
    padding:4px 2px 2px;
}

#toolbar h1 {
    float:left;
    padding:4px 2px 2px;
}

#content {
    margin-bottom:15px;
}

#sidebar {
    margin-bottom:15px;
}

#footer {
    margin-bottom:15px;
}

.box {
    background-color: #d9dbdc;
    background-image: -moz-linear-gradient(center top , #f5f5f5, #d9dbdc);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.1) inset;
    padding:15px;
}

/*********************
    Tables
*********************/

table {
    border-collapse:collapse;
    width:100%;
    line-height:31px;
}

tbody tr:nth-child(2n+1) td {
    
}

td, th {
    padding:0 5px;
    border-bottom:1px solid #f5f5f5;
    text-align:center;
}

th {
    background-color: #606870;
    color:#fff;
    font-weight:bold;
    padding-top:2px;
}

td {
    padding-top:2px;
}

/*********************
    Forms
*********************/

form {
    margin-bottom:15px;
}

/*********************
    Menus
*********************/

#menu {
  overflow:hidden;
}

#menu li {
  float:left;
}

#menu a, #menu a:visited {
    display:block;
    padding:10px 20px;
    text-decoration:none;
    margin-right:5px;
}

#menu .current a, #menu .current a:hover, #menu .current a:visited {
  padding:5px 12px 5px 12px;
  font-weight:bold;
  
}

#menu a,#menu a:visited{
  color:#FFF;
  background:#4a525a;
}

#menu a:hover{
  color: #375a90;
  background:#fff;
}

#menu .current a, #menu .current a:hover, #menu .current a:visited{
  color:#294145;
  background: #FFF url(../images/bg_menu_mix.jpg) repeat-x top;
  border-left: #FFF 1px solid;
  border-right: #FFF 1px solid;
}

.panel {
    list-style:none;
}
.panel li {
    display:inline;
}
.panel li a {
    margin-left:5px;
    text-decoration:none;
}
.panel a:hover {
    text-decoration:underline;
}



.page {background:transparent url(../images/fatcow/small/page.png) no-repeat left;}

/*********************
	Custom
*********************/
.hidden {display:none !important;}
.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.left {float:left !important;}
.right {float:right !important;}

.alert-message {
  padding:5px;
  margin-bottom:10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color:#fff;
}

.alert-message.success {
  background-color: #57A957;
  background-image: -moz-linear-gradient(center top , #62C462, #57A957);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

form.filter {
    padding:5px !important;
    border-top:1px solid #fbfcfc;
    border-left:1px solid #fbfcfc;
    border-right:1px solid #cecfd0;
    border-bottom:1px solid #cecfd0;
}

div.field {
  padding:4px 0 2px;
}

.filter fieldset {
  padding:2px 4px !important;
  margin:0 !important;
  border:none !important;
}

.filter .field {
  float:left;
}

.filter select {
  padding:0 !important;
  margin:0 !important;
}

.filter label {
  width:auto !important;
  margin:0 !important;
  padding:0 4px !important;
}

.filter label.first {
  padding-left:0 !important;
}

/*********************
	Pagination
*********************/

#pagination-digg {
    clear: both;
    line-height: 25px;
}
#pagination-digg ul {
    line-height: 30px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#pagination-digg li {
    border: 0 none;
    display: inline;
    font-size: 11px;
    list-style: none outside none;
    margin-right: 2px;
    padding: 0;
}
#pagination-digg a {
    border: 1px solid #000000;
    display: inline;
    margin-right: 2px;
}
#pagination-digg .previous-off, #pagination-digg .next-off {
    color: #888888;
    display: inline;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px 4px;
}
#pagination-digg .next a, #pagination-digg .previous a {
    font-weight: bold;
}
#pagination-digg .active {
    background: none repeat scroll 0 0 #F7C844;
    color: #000000;
    display: inline;
    font-weight: bold;
    padding: 4px 6px;
}
#pagination-digg a:link, #pagination-digg a:visited {
    color: #0E509E;
    display: inline;
    padding: 3px 6px;
    text-decoration: none;
}
#pagination-digg a:hover {
    border: 1px solid #F7C844;
}