/*********************
    HTML Elements
*********************/
.box {
    background-color: #eeeeee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.1) inset;
    padding:10px;
}

body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    background:#4a525a;
    color: #323232;
}

a {
    color:#323232;
    text-decoration:none;
}

a:hover {
    color:#323232;
}

h1, h2, h3, h4, h5, h6 {
    color: #323232;
    font-family: Georgia, Arial, sans-serif;
    font-weight:bold;
    margin-bottom:15px;
}

h1 {
    font-size:32px;
    line-height:32px;
    font-style:italic;
}

h2 {
    font-size:32px;
    line-height:32px;
    font-style:italic;
    color:#f5f5f5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size:16px;
    line-height:16px;
}

#header {
    background:#606870;
    margin-bottom:15px;
}

.top-panel {
    background-color: #d9dbdc;
    background-image: -moz-linear-gradient(center top , #f5f5f5, #d9dbdc);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.1) inset;
    margin-bottom:15px;
    text-align:right;
}

.top-panel li {
    display:inline;
}

.top-panel li a {
    display:block;
    padding:8px;
}

#toolbar {
    margin-bottom:15px;
}

#toolbar img {
    padding:5px 3px 3px;
}

#toolbar img:hover {
    border-top:1px solid #fbfcfc;
    border-left:1px solid #fbfcfc;
    border-right:1px solid #cecfd0;
    border-bottom:1px solid #cecfd0;
    padding:4px 2px 2px;
}

#toolbar h1 {
    float:left;
    padding:4px 2px 2px;
}

#content {
    margin-bottom:15px;
    padding:15px 0;
    background:#EEEEEE;
}

#sidebar {
    margin-bottom:15px;
}

#footer {
  background:#EEEEEE;
  padding:15px 0;
}
/*********************
    Toolbar
*********************/
.toolbar {
  float: right;
  margin-bottom:15px;
}
.toolbar ul li {
  float:left;
  text-align:center;
  margin:0 10px;
}
.toolbar span {
  display: block;
  float: none;
  height: 32px;
  margin: 0 auto;
  width: 32px;
}
/*********************
    Tables
*********************/

table {
    border-collapse:collapse;
    width:100%;
    margin-bottom:15px;
}

tbody tr:nth-child(2n+1) td {
    background:#dddddd;
}

td, th {
    padding:5px;
    border:1px solid #323232;
    text-align:center;
}

th {
    background-color: #606870;
    color:#fff;
    font-weight:bold;
}

td {

}

/*********************
    Forms
*********************/
form {
    
}
label {
  display:block;
  margin-bottom:5px;
}
input[type="text"] {
  background:#fff;
  border:1px solid #323232;
  padding:5px;
  width:210px;
  font-family: Arial, sans-serif;
  font-size:12px;
}
select {
  border:1px solid #323232;
  padding:5px;
}
textarea {
  border:1px solid #323232;
  padding:5px;
  font-family: Arial, sans-serif;
  font-size:12px;
  width:210px;
}
form .field {
  margin-bottom:15px;
}
.input.small {
  width: 130px;
}
.input.medium {
  width: 210px;
}
.input.long {
  width: 290px;
}
form.filter select {
  padding:3px;
  border:none;
}
form.filter label {
  padding:6px;
  display:block;
  float:left;
  background:#606870;
  color:#eeeeee;
  margin-bottom:0px;
}
form.filter .field {
    background:#fff;
    border:1px solid #323232;
    margin-right:10px;
    float:left;
}
form.filter .field.last {
    margin-right:0;
}
/*********************
    Menus
*********************/
#menu {
  margin-bottom:0;
}

#menu li {
  width:120px;
  margin-right:20px;
}

.panel {
    list-style:none;
}
.panel li {
    display:inline;
}
.panel li a {
    margin-left:5px;
    text-decoration:none;
}
.panel a:hover {
    text-decoration:underline;
}


/*********************
	Custom
*********************/
.hidden {display:none !important;}
.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.left {float:left !important;}
.right {float:right !important;}
.fat{border:1px solid #323232;}
.alert-message {
  padding:5px;
  margin-bottom:10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color:#fff;
}
.btn.danger, .alert-message.danger, .btn.error, .alert-message.error {
    background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
    background-color: #57A957;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
    background-color: #339BB9;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
  background:#fff;
  padding:6px 18px;
  display:block;
  border:1px solid #323232;
}
.btn:hover {
  background:#606870;
  cursor:pointer;
  color:#eeeeee;
}
/*********************
	Pagination
*********************/

.pagination {
    float:right;
}
.pagination ul {
    line-height: 23px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    padding:1px 0;
}
.pagination li {
    border: 0 none;
    display: inline;
    font-size: 11px;
    list-style: none outside none;
    margin-right: 2px;
    padding: 0;
}
.pagination a {
    border: 1px solid #323232;
    display: inline;
    margin-right: 2px;
    padding:5px 8px;
}
.pagination .first, .pagination .last {
    color: #888888;
    display: inline;
    font-weight: bold;
    margin-right: 2px;
}
.pagination .last, .pagination .last a {
  margin-right: 0px;
}
.pagination .next a, .pagination .previous a {
    font-weight: bold;
}
.pagination .active a {
    background: none repeat scroll 0 0 #4A525A;
    color: #eeeeee !important;
    display: inline;
    font-weight: bold;
    cursor:default;
}
.pagination a:link, .pagination a:visited {
    display: inline;
    text-decoration: none;
}
.pagination a:hover {
    background:#4A525A;
    color: #eeeeee !important;
}
.disabled a {
  cursor:default;
  background:#4A525A;
  color: #eeeeee !important;
}

.icon-32-add { background:url(../images/fatcow/32/add.png); }
.icon-32-pencil { background:url(../images/fatcow/32/pencil.png); }
.icon-32-delete { background:url(../images/fatcow/32/delete.png); }
.icon-32-accept { background:url(../images/fatcow/32/accept.png); }
.icon-32-accept_grey { background:url(../images/fatcow/32/accept_grey.png); }